body{
    height: 100vh;
    background: linear-gradient(to right, #f7b7b7, #c3e8e9, #efb8ea, #c3e8e9, #f7b7b7);
    background-repeat: no-repeat;
    background-size: cover ;
}

.container{
    transform: translateY(30%);
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    font-size: 30px;
    font-weight:600;
}

.rps-heading{
    color:#364d8f;
    -webkit-text-stroke: 1px black;
}

.rps-heading h1{
    margin: 80px;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.a_score{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c7a070;
    -webkit-text-stroke: 1px rgb(87, 21, 21);
}

.p_score,.c_score{
    padding:20px 0px;
}

button{
    font-size: 30px;
    font-weight: 800;
    border:5px solid rgb(37, 30, 30);
    color:#ebc7b5;
    -webkit-text-stroke: 1px black;
    background-color:#07738a;
    cursor: pointer;
}
button:hover{
    color:rgb(75, 19, 80);
    background: rgba(156, 222, 165, 0.8);
}

.reload{
    display: none;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 800;
    border:5px solid rgb(37, 30, 30);
    color:#ebc7b5;
    -webkit-text-stroke: 1px black;
    background-color:#07738a;
    cursor: pointer;
}

.reload:hover{
    color:rgb(75, 19, 80);
    background: rgba(156, 222, 165, 0.8);
}

.f_result{
    -webkit-text-stroke: 1px black;
}
.move, .movesleft{
    color: rgb(53, 168, 130);
    -webkit-text-stroke: 1px rgb(87, 21, 21);
}